:root {
    --theme-color: #242424;
    --dark: #242424;
    --light: #fafafa;
}

html, body {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    min-height: 100vh;
    font-family: sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    background: none;
    color: unset;
    margin: 0;
    padding: 0;
}

.fruitmachine {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.fruitmachine button {
    /* margin: 0 auto; */
    width: 100%;
    text-align: center;
    display: block;
    font-size: 2rem;
    background-color: #242424;
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transform: scaleX(1) translateY(0);
}

.fruitmachine button.active {
    animation: focus .6s ease-out forwards;
}

.fruitlines-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    margin-bottom: 2rem;
    gap: 1rem;
}

@keyframes focus {
    0% {
        transform: scaleX(1) translateY(0);
    }

    40% {
        transform: scaleX(1.1) translateY(3%);
    }

    100% {
        transform: scaleX(1) translateY(0);
    }
}

.fruitline {
    display: block;
    height: 100px;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    box-sizing: content-box;
    /* border: 1px solid blue; */
    opacity: 0;
    transform: scale(.8) translateY(-2%);
    position: relative;
    animation: appear 170ms ease-out forwards;
    animation-delay: var(--delay);
    border-radius: 4px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(.8) translateY(-2%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
.fruitline div {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.fruitline div img {
    width: 100%;
    height: 100%;
}

/* STRAIGHT LINES */
.fruitline:has(:nth-child(3 of .apple)),
.fruitline:has(:nth-child(3 of .orange)),
.fruitline:has(:nth-child(3 of .banana)),
.fruitline:has(:nth-child(3 of .carot)),
.fruitline:has(:nth-child(3 of .grape)),
.fruitline:has(:nth-child(3 of .pear)),
.fruitline:has(:nth-child(3 of .strawberry)),
.fruitline:has(:nth-child(3 of .watermelon))
{
    border: 3px solid #191919;
    /* background-color: var(--dark); */
}